<div role="main" class="right_col about" style="min-height: 850px;"> 
      <!-- top tiles -->
      <div class="row tile_count ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="fint-home">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><button class="btn btn-success" type="submit" id="send">Booking</button></p>
        </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="welcome">
        <h2>About Find Aeune</h2>
        <p>1. ScoringStar is a comprehensive online Publishing, Communication and Management application solution for Sports Clubs.</p>

<p>2. Think of ScoringStar as an online platform creating a community of sports clubs from across the country. Once you sign up you instantly become a part of this big and growing community. And with your own club website you easily manage and promote your club while also see stats info about different member clubs.</p>

<p>3. ScoringStar application features are custom built around the specific needs of sports clubs. The exclusively developed custom Application for ScoringStar is a result of years of research and technology expertise that integrates best-of-breed features and functionalities deployed by professional sports club.</p>

<p>4. ScoringStar believes in providing a simple and easily customizable solution keeping in mind all your needs to run your club efficiently. We understand how sports clubs work and integrate the best features that allow you to leverage online technologies effectively.</p>

<p>5. Our UIX experts have made the functions and features easy-to-use by anyone without any prior training required. From generating a custom website to uploading and publishing content the steps are intuitive and easy to follow.</p>

<p>6. ScoringStar is a complete solution built by people with a passion for sports to leverage the advantages of internet and meet the need of sports clubs.</p>

<p>7. To fully appreciate and experience all the features you can sign up for a 100% Free 30 Days Trial or get hands-on by signing up on our Demo site.</p>
        </div> 
        <hr>
        </div> 
         <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border-right:1px solid #eee;">
         <div class="welcome">
         <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><a href="">Read More</a></p>
         </div>
      </div>-->
      <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="welcome">
      <h2>Why Us?</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><a href="">Read More</a></p>
      </div>
      </div>-->
    </div>
  </div>