<div role="main" class="right_col" style="min-height: 662px;"> 
      <!-- top tiles -->
      <div class="row tile_count ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="welcome">
        <iframe width="100%" height="300" frameborder="0" allowfullscreen="" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7946019095293!2d80.2147853141353!3d12.984985218099412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d89145f3587%3A0x86c6421ea2c8f959!2sZenstill+Analytics+Pvt+Ltd.!5e0!3m2!1sen!2suk!4v1469455674113"></iframe>
        </div>
        </div> 
         
      <div style="border-right:1px solid #eee;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="welcome">
      <h2>Contact Details</h2>
      <hr>
      <p>Plot no 20,<br>
       Gangai Nagar 1st Cross Street,<br>
        Velachery, <br> Chennai, Tamil Nadu 600042, India<br>
<a href="">zenstill.com</a><br>
+91 91767 10187
      </p></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="welcome">
         <h2>Contact Form</h2>
         <hr>
  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input type="text" placeholder="Name" class="form-control">
                </div>
                 <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input type="email" placeholder="Email id" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input type="text" placeholder="Mobile" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input type="text" placeholder="postal" class="form-control">
                </div>
                 <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <textarea placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-success" type="submit" id="send">Submit</button>
        </div>
         </div>
      </div>
    </div>
  </div>