<div role="main" class="right_col" style="min-height: 729px;"> 
      <!-- top tiles -->
      <div class="row tile_count">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="upload">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Add a venue</h2>
              </div>
              <form name="venue_form" novalidate="" class="form-horizontal form-label-left" ng-submit="add_venue()">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input required ng-model="venue.venue_name" type="text" placeholder="Venue Name" class="form-control">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <textarea required ng-model="venue.venue_description" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h3 class="address">Address</h3>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <input required ng-model="venue.address_door_no" type="text" placeholder="Door no" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <input required ng-model="venue.address_street" type="text" placeholder="Street Name" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <input ng-model="venue.address_county" type="text" placeholder="County" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input ng-model="venue.address_town" type="text" placeholder="Town" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.address_city" type="text" placeholder="City" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.address_country" type="text" placeholder="Country" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.address_postcode" type="text" placeholder="Postcode" class="form-control">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4 class="address">Contact</h4>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.contact_name" type="text" placeholder="Contact name" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.contact_email" type="text" placeholder="Email Address" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.contact_mobile" type="text" placeholder="Mobile Number" class="form-control">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input required ng-model="venue.contact_landline" type="text" placeholder="Phone Number" class="form-control">
                </div>
              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Cost</h2>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Start Month</th>
                      <th>End Month</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="cost in venue.cost_details">
                      <td><div class="form-group">
                          <select readonly ng-model="venue.cost_details[$index].from_month" class="form-control" >
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                        </div></td>
                      <td><div class="form-group">
                          <select ng-model="venue.cost_details[$index].to_month" class="form-control" ng-change="validate_cost(venue.cost_details, $index)">
                            <option ng-hide="venue.cost_details[$index].from_month > 1" value="1">January</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 2" value="2">February</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 3" value="3">March</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 4" value="4">April</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 5" value="5">May</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 6" value="6">June</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 7" value="7">July</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 8" value="8">August</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 9" value="9">September</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 10" value="10">October</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 11" value="11">November</option>
                            <option ng-hide="venue.cost_details[$index].from_month > 12" value="12">December</option>
                          </select>
                        </div></td>
                      <td><div class="form-group">
                          <input ng-model="venue.cost_details[$index].cost" type="text" style="width:50px;" placeholder="100" class="form-control">
                        </div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button class="btn btn-primary" type="submit">Cancel</button>
                  <button class="btn btn-success" type="submit" id="send">Submit</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="active_state == 'ground'">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>Facility</h2>
              <h4 style="margin-bottom:10px; display:inline-block; width:100%;">Choose Facility <span style="float:right;" data-target="#myModal1" data-toggle="modal" class="add-row" ng-click="editmode = false  ;"><i aria-hidden="true" class="fa fa-plus-square"></i></span></h4>
              <div class="facility_table">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th></th>
                      <th>Facility Name</th>
                      <th>Cost</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="fac in venue_facilities">
                      <td>{{$index+1}}</td>
                      <td><img ng-src="{{fac[0].facility_logo}}" width="50"></td>
                      <td>{{fac[0].facility_name}}</td>
                      <td><div ng-repeat="f in fac">{{months[f.from_month]}} to {{months[f.to_month]}} - {{f.cost}}</div></td>
                      <td>
                        <span data-target="#myModal1" data-toggle="modal" ><i class="fa fa-pencil" ng-click="venue_facility.cost_details = fac;venue_facility.facility_id = fac[0].facility_id;$parent.editmode = true;"></i></span>
                        <span ng-click="delete_facility(fac[0].facility_id)" class="delete-row"><i aria-hidden="true" class="fa fa-trash-o"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>Image Gallary</h2>
              <ul class="fi-ly facillti">
                <li ng-click="search.facility_id = '0';" ng-class="{active_facility: search.facility_id == '0'}"><img ng-src="images/venue.png"></li>
                <li ng-repeat="fac in venue_facilities" ng-click="$parent.search.facility_id = fac[0].facility_id;" ng-class="{active_facility: search.facility_id == fac[0].facility_id}">
                  <img ng-src="{{fac[0].facility_logo}}">
                </li>

                <span ng-click="venue_image.facility_id = 0;" data-target="#myModal2" data-toggle="modal" style="float:right; margin-top:8px; display:block;" class="add-row"><i aria-hidden="true" class="fa fa-plus-square"></i></span>
              </ul>
              <div class="img-gallery">
              <ul class="fi-ly">
                <li ng-repeat="imgs in venue_images | filter:search"><div class="gal-img"><img src="//zenstill.com/findavenue/api{{imgs.media_location}}"><div class="delete-img" ng-click="delete_image(imgs.id)"><i aria-hidden="true" class="fa fa-trash-o"></i></div></div></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>Availability</h2>
                <div class="img-gallery">
                  <form name="availability_form" novalidate="" class="form-horizontal form-label-left" ng-submit="add_availability(venue_availability)">
                    Day of Week:
                     <select ng-model="venue_availability.day" class="form-control" required="required" multiple="true">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                      </select>
                      End Date:
                      <input type="text" name="enddate" ng-model="venue_availability.enddate" class="form-control" required="required" />
                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><br/>
                         <button class="btn btn-primary" type="reset">Cancel</button>
                         <button class="btn btn-success" type="submit" id="send">Submit</button>
                      </div>
                    </form>
                </div>
            </div>

             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>Availability</h2>
                <div class="img-gallery">
                  <form name="availability_form1" novalidate="" class="form-horizontal form-label-left" ng-submit="add_availability1(venue_availability1)">
                    Day of Month:
                     <select ng-model="venue_availability1.day" class="form-control" required="required" multiple="true">
                        <option value="{{$index+1}}" ng-repeat="i in getNumber(number) track by $index">{{$index+1}}</option>
                      </select>
                      No of months:
                      <input type="text" name="enddate" ng-model="venue_availability1.enddate" class="form-control" required="required" />
                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"><br/>
                         <button class="btn btn-primary" type="reset">Cancel</button>
                         <button class="btn btn-success" type="submit" id="send">Submit</button>
                      </div>
                    </form>
                </div>
            </div>
            <!-- Modal Facility-->
            <div role="dialog" id="myModal1" class="modal fade">
              <div class="modal-dialog"> 
                
                <!-- Modal content Facility-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title"> Choose our Facility</h4>
                  </div>
                  <div class="modal-body">
                    <ul class="fi-ly facillti">
                      <li ng-repeat="fc in facility" ng-class="{active_facility: venue_facility.facility_id == fc.id, selected_facility: (is_selected_speciality(fc.id) && !editmode)}" >
                        <span ng-show="!editmode">
                          <img ng-click="$parent.venue_facility.facility_id = fc.id;" ng-show="fc.facility_logo && !is_selected_speciality(fc.id)" ng-src="{{fc.facility_logo}}">
                          <img ng-click="$parent.venue_facility.facility_id = fc.id;" ng-show="!fc.facility_logo && !is_selected_speciality(fc.id)" ng-src="{{'images/fc'+fc.id+'.png'}}">

                          <img ng-show="fc.facility_logo && is_selected_speciality(fc.id)" ng-src="{{fc.facility_logo}}">
                          <img ng-show="!fc.facility_logo && is_selected_speciality(fc.id)" ng-src="{{'images/fc'+fc.id+'.png'}}">
                        </span>
                        <span ng-show="editmode">
                          <img ng-show="fc.facility_logo" ng-src="{{fc.facility_logo}}">
                          <img ng-show="!fc.facility_logo" ng-src="{{'images/fc'+fc.id+'.png'}}">
                        </span>
                      </li>
                    </ul>
                    <table class="table table-bordered" ng-show="venue_facility.facility_id">
                      <thead>
                        <tr>
                          <th>Start Month</th>
                          <th>End Month</th>
                          <th>Cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="cost in venue_facility.cost_details">
                          <td><div class="form-group">
                              <select  readonly ng-model="venue_facility.cost_details[$index].from_month" class="form-control" >
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                              </select>
                            </div></td>
                          <td><div class="form-group">
                              <select ng-model="venue_facility.cost_details[$index].to_month" class="form-control" ng-change="validate_cost(venue_facility.cost_details, $index)">
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 1" value="1">January</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 2" value="2">February</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 3" value="3">March</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 4" value="4">April</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 5" value="5">May</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 6" value="6">June</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 7" value="7">July</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 8" value="8">August</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 9" value="9">September</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 10" value="10">October</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 11" value="11">November</option>
                            <option ng-hide="venue_facility.cost_details[$index].from_month > 12" value="12">December</option>
                              </select>
                            </div></td>
                          <td><div class="form-group">
                              <input ng-model="venue_facility.cost_details[$index].cost" type="text" style="width:50px;" placeholder="100" class="form-control">
                            </div></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer" ng-show="venue_facility.facility_id">
                    <button data-dismiss="modal" class="btn btn-primary" type="submit">Cancel</button>
                    <button ng-click="add_venue_facility()" class="btn btn-success" type="submit" id="send">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal image-gallery-->
            <div role="dialog" id="myModal2" class="modal fade">
              <div class="modal-dialog"> 
                
                <!-- Modal content image-gallery-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Upload images </h4>
                  </div>
                  <div class="modal-body">
                    <select class="form-control" ng-model="venue_image.facility_id">
                      <option value="0">{{venue.venue_name}}</option>
                      <option ng-repeat="fac in venue_facilities" ng-value="fac[0].facility_id">{{fac[0].facility_name}}</option>
                    </select>
                    <input id="venue_image" type="file" style="margin-top:10px; padding:0;" class="form-control">
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-primary" type="submit">Cancel</button>
                    <button  ng-click="add_venue_image()" class="btn btn-success" type="submit" id="send">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>