<div role="main" class="right_col home" style="min-height: 738px;"> 
      <!-- top tiles -->
      <div class="row tile_count ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="fint-home">
        <h2>Find Aeune Booking Our Ground</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><button class="btn btn-success" type="submit" id="send">Booking</button></p>
        </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="welcome">
        <h2>Welcome To Find Aeune</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div> 
        <hr>
        </div> 
         <div style="border-right:1px solid #eee;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="welcome">
         <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><a href="">Read More</a></p>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="welcome">
      <h2>Why Us?</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p><a href="">Read More</a></p>
      </div>
      </div>
    </div>
  </div>