    <div class="right_col" role="main"> 
      <!-- top tiles -->
      <div class="row tile_count">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>My Venue Orders</h2>
        <table class="table table-bordered">
                <thead>
                 <tr style="background:#ccc; margin-bottom:10px;">
                  <th>#</th>
                  <th>Order Date</th>
                  <th>User</th>
                  <th>Rate</th>
                  <th>Status</th>
                  <th>View Details</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in orders">
                    <td>{{order.id}}</td>
                  <td>{{order.booking_date}}</td>
                  <td>{{user}}</td>
                  <td>{{order.total_amt}}</td>
                  <td>{{order.status}}</td>
                  <td><div class="add-row1" data-toggle="modal" data-target="#myModal4" ng-click="order_details(order.id);"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                  </div></td>
                  </tr>
                </tbody>
              </table>
        </div>
         <!-- Modal My orders-->
            <div class="modal fade" id="myModal4" role="dialog">
              <div class="modal-dialog"> 
                
                <!-- Modal content My orders-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">My Order Details</h4>
                  </div>
                  <div class="modal-body">
                     <table class="table table-bordered">
                <thead>
                 <tr style="background:#ccc; margin-bottom:10px;">
                  <th>#</th>
                          <th>Venue</th>
                          <th>Facility</th>
                          <th>Date</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order_detail in booking_details">
                    <td>{{$index+1}}</td>
                          <td>{{order_detail.venue_name}}</td>
                          <td>{{order_detail.facility_name}}</td>
                          <td>{{order_detail.booking_date}}</td>
                          <td>{{order_detail.booking_start_time}}</td>
                          <td>{{order_detail.booking_end_time}}</td>
                  </tr>
                </tbody>
              </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- Modal Facility-->
            <div class="modal fade" id="myModal5" role="dialog">
              <div class="modal-dialog"> 
             <!-- Modal content Facility-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Our Facilities</h4>
                  </div>
                  <div class="modal-body">
                    <ul class="fi-ly">
                      <li ng-repeat="venue_detail in ordervenue_details.facilities">                       
                        <img src="images/fc{{venue_detail.facility_id}}.png"></li>                    
                    </ul>
               
                  </div>
                
                </div>
                </div>
                </div>
                <!-- Modal image-gallery-->
            <div class="modal fade" id="myModal6" role="dialog" ng-cloak>
              <div class="modal-dialog"> 
                
                <!-- Modal content image-gallery-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Venue Images </h4>
                  </div>
                  <div class="modal-body">
                   <div class="img-gallery">
              <ul class="fi-ly">
                <li ng-repeat="venue_detail in ordervenue_details.images"><div class="gal-img"><img src="{{venue_detail.media_location}}"><div class="delete-img"><i class="fa fa-trash-o" aria-hidden="true"></i></div></div></li>
                </ul>
              </div>
                  </div>
                 
                </div>
              </div>
            </div>
      </div>
    </div>
     