<div class="order">
  <h3 class="name-ground">Cart</h3>
    <table ng-show="order_details.length" class="table">
      <tbody>
        <tr ng-repeat="od in order_details track by $index">
          <td width="20%" class="text-center" ng-if="!od.sindex"><span>{{od.mindex}}</span></td>
          <td width="20%" class="text-right" ng-if="od.sindex"><li class="ng-binding" style="list-style: inside none disc;"></li></td>
          <td width="60%">{{od.name}}<br>{{od.booking_date}} / {{od.booking_time}} / {{od.cost}}</td>
          <td width="15%" class="rate text-right">${{od.quantity * od.cost}}</td>
          <td width="5%" ng-click="delete_cart_item($index);"><a href=""><i class="fa fa-times" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    <div ng-show="order_details.length">
      <span ng-show="is_user_logged_in" ng-click="place_order();"> <a href="" class="btn btn-success"> Place Order</a></span>
      <span ng-hide="is_user_logged_in"> <a ng-href="#venues/login" class="btn btn-success"> Place Order</a></span>
      <span ng-click="clear_cart();"> <a class="btn btn-danger">Clear Cart</a></span>
    </div>
    <p ng-hide="order_details.length">Cart Empty</p>

  <!--<h4 class="face">Select a payment method</h4>
  <div class="payment">
  <img src="images/payment.png">
  <div class="paypal"><img src="images/paypal.jpg">
  </div>
  </div>
  <div class="pay-order">
  <input type="radio" name="check"> <span  class="payment-md"> Cheque Payment</span>
  <p class="pay-details">Lorem ipsum dolor sit amet, duis meis comprehensam nec ea. Iudico saperet maiorum pri .</p>
  </div>
  <div class="pay-order">
  <input type="radio" name="check"> <span  class="payment-md"> Direct bank transfer</span>
  <p class="pay-details">Lorem ipsum dolor sit amet, duis meis comprehensam nec ea. Iudico saperet maiorum pri .</p>
  </div>
  <span> <a href="" class="btn btn-success"> Pay Now</a></span>
  <span> <a href="" class="btn btn-danger"> Cancel</a></span>-->
  
      </div>