  <div class="login">
      <h2>Sign up</h2>
      <form name="signup_form" ng-submit="signup(user, signup_form)"  novalidate="" method="post">
            <p class="error_message" ng-show="msg" ng-bind="msg"></p>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Name" required ng-model="user.name" name="name"/>
               </div>
                <div class="form-group">
               <input type="text" ng-pattern="/^[789]\d{9}$/" class="form-control" placeholder="Mobile No" required ng-model="user.mobile" name="mobile"/>
               </div>
                <div class="form-group">
               <input type="email" class="form-control" placeholder="Email" required ng-model="user.email" name="email"/>
               </div>
               <div class="form-group">
               <input type="password" class="form-control" placeholder="Password" required ng-model="user.password" name="password"/>
               </div>
               <div class="form-group">
               <select class="form-control" ng-model="user.user_role" ng-init="user.user_role = 'user'">
                  <option value="user">Site user</option>
                  <option value="owner">Venue Owner</option>
               </select>
               </div>
              <p> <span class="text-left" style="margin-top:5px; display: inline-block;"><a href="#venues/login">Already registered? Login</a></span><span style="float:right;"> <input type="submit" class="btn btn-success" value="Sign up" name=""/></span> </p>
       </form>
       </div>
